<footer class="bg-gray-800 text-white py-8">
  <div
    class="container mx-auto px-4 flex flex-col md:flex-row justify-between items-center text-sm"
  >
    <p id="all_rights_reserved" class="mb-4 md:mb-0" data-i18n="all_rights_reserved">
      &copy; 2025 Designed Financial Freedom (DFF). All rights reserved.
    </p>
    <ul class="flex space-x-6">
      <li>
        <a
          href="/privacy"
          id="privacy_policy"
          class="hover:text-indigo-400 transition duration-300"
          data-i18n="privacy_policy"
        >
          Privacy Policy
        </a>
      </li>
      <li>
        <a
          href="/terms"
          id="terms-and-conditions"
          class="hover:text-indigo-400 transition duration-300"
          data-i18n="terms-and-conditions"
        >
          Terms and Conditions
        </a>
      </li>
    </ul>
  </div>
</footer>
